// sass --watch assets/css/modal_style.scss:assets/css/modal_style.css

.backdropModal {
    backdrop-filter: blur(1rem);
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
}

.backdropShadow {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top:0;
    background:  #dfdfdf80;
}

.noscroll {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    width: 95rem;
    height: 65rem;
    display: flex;
    text-align: center;
    background: #fff;
    border-radius: 2.4rem;

    .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        text-decoration: none;
        font-size: 3rem;
        width: 4.4rem;
        height: 4.4rem;
        color: #fff;
        rotate: 45deg;
        background: #D9D9D9;
        border-radius: 100%;
        align-content: center;
        cursor: pointer;
    }

    button {
        border: none;
        width: 100%;
        border-radius: 1rem;
        font-weight: 700;
        letter-spacing: 0rem;
    }

    
    .left-cont {
        padding: 13.6rem 6rem 11rem 9rem;
        
        .logo-img {
            margin-bottom: 3rem;
        }

        .modal_tit {
            margin-bottom: 1.5rem;
        }

        .modal_text {
            margin-bottom: 4rem;
        }

        .form_manager {
            margin-bottom: 2.4rem;
        }

        .form-field {
            position: relative;

            .input-field {
                width: 100%;
                border: 1px solid #D9D9D9;
                border-radius: 1rem;
                font-size: 2rem;
                padding: .9rem 1rem .6rem;
                margin-bottom: 3rem;
                transition: border .2s ease-in-out;

                &:hover {
                    border: 1px solid #898989;
                }

                &:focus {
                    border: 1px solid #898989;
                    
                    & + .label-field{
                        top: -1rem;
                        font-size: 1.2rem;
                    }
                } 
                    
                &:focus-visible {
                    outline: none;
                }
            }

            .label-field {
                position: absolute;
                left: 1rem;
                top: 0.5rem;
                user-select: none;
                font-size: 2rem;
                padding: 0 .2rem;
                background: #fff;
                color: #898989;
                transition: all .25s ease-in-out;
            }
        }

        .inform {
            color: #8D8D8D;
            text-align: left;
        }
    }

    .right-cont {
        border-radius: 0 2.4rem 2.4rem 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 1024px) {
        width: 65rem;
        height: 45rem;
    
        .btn-close {
            width: 3.6rem;
            height: 3.6rem;
            font-size: 2.2rem;
        }

        .left-cont {
            padding: 4rem 3rem 5.5rem 2.5rem;

            .logo-img {
                margin-bottom: 1.5rem;
            }

            .modal_tit {
                font-size: 2.8rem;
                margin-bottom: 1.2rem;
            }

            .modal_text {
                font-size: 1.6rem;
                margin-bottom: 2.4rem;
            }


            .form_manager {
                margin-bottom: 1.8rem;
                
                .form-field {
                    .input-field {
                        padding: .6rem 1rem .45rem;
                        font-size: 1.8rem;
                        margin-bottom: 1.8rem;
                    }
    
                    .label-field {
                        font-size: 1.8rem;
                    }
                }
            }

        }
    }

    @media (max-width: 767px) {
        width: unset;
        height: 90%;
        bottom: 0;
        top: unset;
        border-radius: 2rem 0 0 0;
        flex-direction: column-reverse;
        left: 0;
        right: 0;

        .left-cont {
            padding: 2rem;

            .flex-wrap-modal {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1.2rem;

                & > * {
                    margin-bottom: 0;
                }
            }

            .modal_text {
                margin-bottom: 1.2rem;
            }
        }

        .right-cont {
            border-radius: 2rem 2rem 0 0;
        }
    }
}