// sass --watch assets/css/style.scss:assets/css/style.css

/* fonts */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
/* /fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #121127;
}

/* fonts-sizes */
.fs-h-xl {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.fs-h-l {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.4;
}

.fs-h-m {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.4;
}

.fs-h-s {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
}

.fs-h-xs {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
}


.fs-b-xl {
    font-size: 2rem;
    line-height: 1.8;
}

.fs-b-l {
    font-size: 1.8rem;
    line-height: 1.8;
}

.fs-b-m {
    font-size: 1.6rem;
    line-height: 1.8;
}

.fs-b-s {
    font-size: 1.4rem;
    line-height: 1.8;
}

.fs-b-xs {
    font-size: 1.2rem;
    line-height: 1.2;
}

@media (max-width: 1024px) {
    /* fonts-sizes */
    .fs-h-xl {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
    }

    .fs-h-l {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-m {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-s {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-xs {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.25;
    }


    .fs-b-xl {
        font-size: 2rem;
        line-height: 1.6;
    }

    .fs-b-l {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .fs-b-m {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .fs-b-s {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    .fs-b-xs {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

@media (max-width: 767px) {
    /* fonts-sizes */
    .fs-h-xl {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2;
    }

    .fs-h-l {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-m {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-s {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .fs-h-xs {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
    }


    .fs-b-xl {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .fs-b-l {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .fs-b-m {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    .fs-b-s {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .fs-b-xs {
        font-size: 1rem;
        line-height: 1.2;
    }
}

/* /fonts-sizes */

/* text-colors */

/* btn */
.btn {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    color: #FFFFFF;
    border-radius: .6rem;
    padding: .8rem 2.4rem;
    background: #000;
    user-select: none;
    transition: box-shadow .2s,
                color .2s,
                scale .2s;

    &-sign {
        font-size: 1.4rem;
    }

    &-indigo {
        background: #444bd3;
        color: #fff;
    
        &:hover {
            color: #ffffffD9;
            box-shadow: 0 0 .8rem .2rem #444bd3;
            scale: 1.1;
        }
    }

    &-white {
        background: #fff;
        color: #121127;

        &:hover {
            color: #121127B3;
            scale: 1.1;
        }
    }

    &-white2 {
        background: #fff;
        color: #444BD3;

        &:hover {
            color: #444BD3B3;
            box-shadow: 0 0 .8rem .6rem #ffffff33;
            scale: 1.1;
        }
    }

    &-black {
        background: #000;
    }

    @media (max-width: 1024px) {
        padding: .6rem 1.2rem;
    }

    @media (max-width: 767px) {
        border-radius: 1.2rem;
        padding: .8rem 1rem;
    }
}

.nav-item {
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    color: #121127B8;
    transition: color .3s ease-in-out;

    &:hover {
        color: #121127;
    }

    &.active {
        color: #121127;
    }

    @media (max-width: 1024px) {
        font-size: 1.4rem;
    }
}
/* /btn */



html {
    font-size: 10px;
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.d-none {
    display: none !important;
}

.d-opacity {
    animation: scaleUpDown .2s;
    opacity: 0;
}

.tm__width {
    max-width: 144rem;
    padding: 0 15.6rem;
    margin: 0 auto;

    @media (max-width: 1024px) {
        max-width: 90rem;
        padding: 0 3.6rem;

        &:has(.tm__footer) {
            padding: 0 5.4rem;
        }
    }

    @media (max-width: 767px) {
        max-width: 55rem;
        padding: 0 2.4rem;

        &:has(.tm__footer) {
            padding: 0 3.2rem;
        }
    }
}

.tm__background {

    &-white {
        background: #fff;
    }

    &-gray {
        background: #F9F9FB;
    }

    &-indigo {
        background: #444BD3;
    }
}

.cont-tag {
    text-transform: uppercase;
    color: #444BD3;
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: .2rem;
    margin-bottom: .8rem;

    @media (max-width: 1024px) {
        font-size: 1.2rem;
    }

    @media (max-width: 767px) {
        font-size: 1rem;
        margin-bottom: .6rem;
    }
}

.tm__header {
    padding: 3.4rem 0;
    display: flex;
    align-items: center;

    &_logo-wrapper {
        margin-right: 4rem;
    }

    &_navigation {
        display: flex;
        gap: 4.8rem;
    }

    .menu_bar {
        display: none;
    }

    .btn-sign[data-sign='sign-in'] {
        margin-left: auto;
        margin-right: .8rem;
    }

    @media (max-width: 1024px) {
        padding: 2.4rem 0;

        &_logo-wrapper {
            margin-right: 3rem;
        }

        &_navigation {
            gap: 3.2rem;
        }
    }

    @media (max-width: 767px) {
        padding: 2rem 0;

        &_logo-wrapper {
            margin-right: 2rem;
        }

        &_navigation {
            display: none;
        }

        .btn.btn-sign {
            margin-right: 1.6rem;
        }

        .menu_bar {
            display: block;

            .burger-menu-ico {
                cursor: pointer;
                max-width: 2.4rem;
                max-height: 2.4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .burger-menu-content {
                display: none;
                position: fixed;
                top: 0;
                bottom: 0;
                right: -20rem;
                width: 200px;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                background: #fff;
                z-index: 100;
                transition: right .2s ease-in-out;

                &.d-visible {
                    right: 0;
                }

                .account-info {
                    text-align: center;
                    margin-bottom: 2.4rem;
                    
                    .account-ico {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin: 0 auto;
                        margin-bottom: 1.2rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .burger-menu-navigation {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                }

                .btn-cont {
                    display: flex;
                    justify-content: space-between;
                    margin-top: auto;

                    .btn-menu {
                        font-size: 1.4rem;
                        color: #121127B8;
                        user-select: none;

                        &:active {
                            color: #121127;
                        }
                    }
                }
            }
        }
    }
}

.tm__mainhead {
    padding: 8.8rem 0 0 0;
    max-width: 76rem;
    margin: 0 auto;
    margin-bottom: 16.3rem;
    position: relative;
    text-align: center;

    &-text-cont {
        margin: 0 auto;
        margin-bottom: 7.2rem;

        .heading {
            margin-bottom: 2rem;
        }

        .main_text {
            color: #121127B8;
        }
    }

    .videoplayer {
        position: relative;
        z-index: 10;
        border-radius: 2rem;
        box-shadow: 0 2rem 8rem 0 #00000080;
        width: 100%;
        height: 100%;
    }

    &-video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-play {
            position: absolute;
            cursor: pointer;
            z-index: 11;
            margin: auto;
            display: flex;
            padding: 2.4rem;
            border-radius: 100%;
            background: #fff;
            transition: scale .3s,
                        opacity .3s;

            img {
                width: 1.8rem;
                height: 1.8rem;
            }

            &:hover {
                scale: 1.2;
            }
        }
    }

    .svg-ico {
        display: flex;
        width: 4.2rem;
        height: 4.2rem;
        align-items: center;
        justify-content: center;
        border-radius: 2.1rem;
        margin-right: 1rem;

        &-pink {
            background: linear-gradient(#F78291, #E75C6B);
        }

        &-orange {
            background: #FFBB24;
        }

        &-lightpink {
            background: #FFF3F3;
            box-shadow: 0 4rem 7rem -2rem #00000033;
        }

        &-blue {
            background: #57B8F6;
            box-shadow: 0 1.6rem 3rem -.6 #3A4C5766;
        }
    }
    
    .absolute-cont-main {
        position: absolute;
        border-radius: 1.2rem;
        padding: 2.1rem 2.2rem;
        background: #fff;
        text-align: left;

        .absolute-cont-wrap {
            display: flex;
            margin-bottom: 1.8rem;
        }
    
        .div_text {
            color: #8B898F;
        }

        &.successfull-cont {
            bottom: -6.5rem;
            right: -17.5rem;
            z-index: 11;
    
            .people-in {
                display: flex;
    
                .img-person {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 1.5rem;
                    overflow: hidden;
                    margin-right: -.5rem;
    
                    &:not(:first-child) {
                        outline: .3rem solid #fff;
                    }
    
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
    
                }
    
                .add-new-person {
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #5CB6E9;
                    border-radius: 1.5rem;
                }
            }
        }
    
        &.voucher-cont {
            position: absolute;
            top: 30rem;
            left: -15rem;
            z-index: 9;
            box-shadow: 0 4rem 8rem 1.6rem #00000014;

            .absolute-cont-wrap {
                margin-bottom: 0;
            }
        }
    }
    
    .abs-icon {
        position: absolute;

        &-1 {
            width: 5.4rem;
            height: 5.4rem;
            border-radius: 100%;
            top: 10rem;
            left: -23rem;
        }

        &-2 {
            width: 3.8rem;
            height: 3.8rem;
            top: 19rem;
            right: -12rem;
        }

        &-3 {
            bottom: -8rem;
            left: -20rem;
        }
    }

    @media (max-width: 1024px) {
        padding-top: 6rem;
        max-width: 60rem;

        &-text-cont {
            margin-bottom: 6.4rem;
        }

        .svg-ico {
            width: 3.6rem;
            height: 3.6rem;
        }

        .abs-icon {

            &.abs-icon-1 {
                top: 15rem;
                left: -6rem;
            }
            
            &.abs-icon-2 {
                top: 18rem;
                right: -6rem;
            }
            
            &.abs-icon-3 {
                bottom: -10rem;
                left: -10rem;
                rotate: 310deg;
            }
        }

        .absolute-cont-main {
            padding: 1.6rem 1.8rem;

            &.successfull-cont {
                bottom: -12rem;
                right: 18rem;
                box-shadow: 0 2rem 6rem 0 #00000080;
            }
            
            &.voucher-cont {
                top: 22rem;
                left: -8rem;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 2.4rem;

        &-text-cont {
            margin-bottom: 3.2rem;
            
            .heading {
                margin-bottom: 1.2rem;
                text-align: left;
            }

            .main_text {
                text-align: right;
            }
        }

        &-video {

            .btn-play {
                padding: 1.6rem;
            }
        }

        .absolute-cont-main {
            padding: 1.2rem 1.6rem;

            &.voucher-cont {
                top: unset;
                z-index: 11;
                bottom: -11rem;
                left: -2rem;
                box-shadow: 0 2rem 2rem 0 #00000080;
            }

            &.successfull-cont {
                right: -2rem;
                left: unset;
                bottom: -13rem;
                box-shadow: 0 2rem 2rem 0 #00000080;
            }
        }

        .abs-icon {
            display: none;
        }
    }
}

.tm__WhyDlex {
    padding-bottom: 9.6rem;

    .mx-600 {
        max-width: 60rem;
        margin-bottom: 4rem;
    }

    
    .slick-slide {
        margin: 0 24px;
    }

    .slick-list {
        margin: 0 -24px;
        margin-bottom: 4rem;
    }

    .slick-nav-custom {
        display: flex;
        margin: 0 auto;
        width: fit-content;
        gap: 1.6rem;

        .slick-arrow {
            position: unset;
            background: #FFF0F5;
            border-radius: 100%;
            width: 4rem;
            height: 4rem;
            transform: unset;

            &.slick-prev::before {
                content: url('../images/arrow-prev.svg');
            }

            &.slick-next::before {
                content: url('../images/arrow-next.svg');
            }

            &::before {
                font-family: "Poppins";
                font-size: 0.7rem;
                color: #9D097C;
            }
        }

        &-dots {
            align-content: center;
        }

        .slick-dots {
            position: unset;

            .slick-active {
                
                button {
                    width: 2.4rem;
                    height: 2.4rem;
                    outline: 1px solid #9D097C;
                    border-radius: 100%;

                    &::before {
                        width: unset;
                        height: unset;
                        font-size: .8rem;
                        color: #9D097C;
                        line-height: 1;
                    }
                }
            }

            li {
                width: 2.4rem;
                height: 2.4rem;
                margin: 0 .4rem;

                button {
                    padding: .8rem;

                    &::before {
                        position: unset;
                        opacity: 1;
                        font-size: .4rem;
                    }
                }
            }
        }
    }

    .WhyDlex-card {
        padding: 5.6rem 2.4rem;
        box-shadow: 0 2rem 1.2rem 0 #12112714;
        background: #fff;

        .card-svg-ico {
            margin-bottom: 2.4rem;
        }

        .div_tit {
            margin-bottom: 1.6rem;
        }

        .div_text {
            color: #1211278F;
        }
    }


    @media (max-width: 1024px) {
        padding-bottom: 6.4rem;

        .mx-600 {
            margin-bottom: 3.6rem;
        }

        .slick-slide {
            margin: 0 16px;
        }
    
        .slick-list {
            margin: 0 -16px;
            margin-bottom: 3.2rem;
        }

        .WhyDlex-card {
            padding: 4.8rem 1.8rem;
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 2.4rem;

        .mx-600 {
            margin-bottom: 2.4rem;
        }

        .slick-slide {
            margin: 0 16px;
        }

        .slick-list {
            margin: 0 -24px;
            margin-bottom: 0;
        }

        .WhyDlex-card {
            padding: 3.2rem 1.6rem;
        }
    }
}


.tm__optimize {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    
    .heading {
        margin-bottom: 4rem;
    }

    &-catalog {
        display: flex;
        gap: 12rem;

        .img-wrap {
            margin-bottom: 3.2rem;
            border-radius: 1.2rem;
            position: relative;
            width: fit-content;
            box-shadow: 0 .7rem 3rem 0 #1211271F;
            font-size: 0;

            img {
                border-radius: 1.2rem;
            }

            .img-acceptance_2 {
                position: absolute;
                bottom: 3.5rem;
                right: -10rem;
            }
        }

        .div_tit {
            color: #444BD3;
            margin-bottom: 1.2rem;
        }

        .div_text {
            color: #1211278F;
            margin-bottom: 3.2rem;
        }

        .ul_agreed {
            list-style: none;

            li {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: .8rem;
                }

                &::before {
                    content: url('../images/checkmark-ico.svg');
                    display:inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.6rem;
                    height: 1.6rem;
                    background: #90ECF4;
                    border-radius: 100%;
                    margin-right: 1.2rem;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        padding-top: 6.4rem;

        .heading {
            margin-bottom: 3.6rem;
        }

        &-catalog {
            gap: 4rem;
            flex-direction: column;

            .analytic-case,
            .maximize-case {
                position: relative;
            }

            .flex-wrap-cont {
                display: flex;
                align-items: center;
                gap: 4rem;
            }

            .img-wrap {
                width: 36rem;
                height: 23rem;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .img-acceptance_2 {
                    bottom: -9rem;
                    right: -2rem;
                    width: 19.6rem;
                    height: 10.5rem;
                }
            }
        }        
    }

    @media (max-width: 767px) {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        
        .div_text {
            margin-bottom: 2.4rem;
        }

        .flex-wrap-cont {
            flex-direction: column;
            align-items: unset;
            gap: 2rem;

            .img-wrap {
                width: 30.2rem;
                height: 19.6rem;
                margin-bottom: 0;

                .img-acceptance_1 {
                    margin-bottom: 1rem;
                }

                .img-acceptance_2 {
                    bottom: 2rem;
                    right: -4.5rem;
                    width: 12.8rem;
                    height: 6.8rem;
                }
            }
        }
    }
}

.tm__offerFeature {
    padding-top: 6rem;
    margin-bottom: 6rem;
    position: relative;

    .text-indigo {
        color: #444BD3;
    }

    .btn-custom {
        position: absolute;
        right: 0;
        top: 8.5rem;
    }

    @media (max-width: 1024px) {
        padding-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;

        p {
            margin-bottom: 2rem;
        }

        .btn-custom {
            position: unset;
        }
    }

    @media (max-width: 767px) {
        padding-top: 2rem;
        margin-bottom: 2rem;

        .text-indigo {
            font-style: italic;
        }
    }
}

.tm__productivity {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    .wrapper {
        max-width: 74rem;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div_tit {
        color: #fff;
        margin-bottom: 2rem;
    }

    .div_text {
        color: #FFFFFF8F;
        margin-bottom: 2rem;
    }

    .btn {
        width: fit-content;
        margin: 0 auto;
    }

    @media (max-width: 1024px) {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;        

        .div_text {
            margin-bottom: 3rem;
        }
    }

    @media (max-width: 767px) {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        
        .wrapper {
            text-align: center;
        }
    }
}

.tm__footer {
    padding-top: 5.6rem;

    &-main {
        display: flex;
        margin-bottom: 7rem;

        .contacts-cont {
            max-width: 36rem;
    
            .logo-ico {
                margin-bottom: 2.4rem;
            }
    
            .div_text {
                color: #1211278F;
                margin-bottom: 2.4rem;
            }
    
            .contacts {
                display: flex;
                gap: 3.2rem;
            }
        }

        .navigation_system {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .nav_bar {
                display: flex;
                flex-direction: column;

                .nav-header {
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 1.7;
                    letter-spacing: .2rem;
                    text-transform: uppercase;
                    margin-bottom: 2rem;
                    color: #12112766;
                }

                .nav-item {
                    color: #121127;
                    line-height: 1.8;

                    &:not(:last-child) {
                        margin-bottom: .8rem;
                    }
                }
            }
        }
    }

    &-copyright {
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-top: 1px solid #1211271F;

        .div_text {
            color: #1211278F;
        }
    }

    @media (max-width: 1024px) {
        padding-top: 4.8rem;

        &-main {
            flex-direction: column;
            margin-bottom: 4rem;
        }

        .contacts-cont {
            order: 2;
            max-width: 100%;
        }

        .navigation_system {
            order: 1;
        }

        &-copyright {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }
    }

    @media (max-width: 767px) {
        text-align: center;

        &-main {
            margin-bottom: 2.4rem;

            .contacts-cont {

                .logo-ico {
                    margin-bottom: 1.2rem;
                }

                .div_text {
                    margin-bottom: 1.8rem;
                }

                .contacts {
                    justify-content: center;
                }
            }
        }

        .navigation_system {
            display: none;
        }

        &-copyright {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;

            .div_text {
                font-size: 1.2rem;
            }
        }
    }
}


// animation

@keyframes scaleUpDown {
    0% { scale: 1}
    50% { scale: 1.2}
    100% { scale: .9}
}